:root {
  --max-width: 1100px;
  --border-radius: 5px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: comic sans ms;
}

body {
  color: #111111;
  background: #f9f8f4;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
.star-disabled {
  cursor: none;
  transition: color 200ms;
}
input[type="ratio"] {
  display: none;
}

.container {
  width: min(var(--max-width), 100% - 2rem);
  margin-inline: auto;
}
section:nth-child(odd) {
  background-color: #f9f8f4;
}
section:nth-child(even) {
  background-color: white;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
.padding-block-900 {
  padding-block: 3rem;
}
.img {
  object-fit: cover;
  object-position: center;
}

/* CARD */
.card-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.active {
  padding: 12px 18px;
  border: 1px solid #d39700;
  border-radius: 4px;
  color: #320101;
  cursor: pointer;
  font-family: europa;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  background-color: #fcb500;
  display: inline-block;
  border-bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button {
  padding: 12px 18px;
  border: 0;
  border-radius: 4px;
  color: #320101;
  cursor: pointer;
  font-family: europa;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  background-color: #f8cd5f;
  display: inline-block;
  border-bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  background: #fcdd8e;
  border: 0;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0px 4px 15px rgb(50 1 1 / 15%);
  box-shadow: 0px 4px 15px rgb(50 1 1 / 15%);
}
